/* GLOBAL STYLES
-------------------------------------------------- */
h2 {
	font-weight: 500;
}

footer {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

footer p {
	margin-bottom: .25rem;
}

.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


/* Alerts
------------------------- */
.alert {
	margin-bottom: 0;
}


/* Mission Statement
------------------------- */

.jumbotron {
	text-shadow: 2px 2px 4px #000000;
}

div.jumbotron {
	background-image: url('img/placeholder_jumbotron1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}


/* Program
------------------------- */

.programs p {
	margin-bottom: 1.5rem;
}

.programs h3 {
	font-weight: 400;
}

.program-divider {
	margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

.programs img {
	width: 400px;
	height: 400px;
	object-fit: cover;
	overflow: hidden;
}

.program-heading {
	font-weight: 300;
	line-height: 1;
	letter-spacing: -.05rem;
}

.programs ul {
	font-size: 1.25rem;
	list-style-type: circle;
}


/* About
------------------------- */

.about .col-lg-4 {
	margin-bottom: 1.5rem;
	text-align: center;
}
.about h2 {
	font-weight: 500;
}
.about .col-lg-4 p {
	margin-right: .75rem;
	margin-left: .75rem;
}


/* FAQ
------------------------- */

.faq {
	padding-bottom: 2rem;
}

.accordion-button {
	font-size: 1.5rem;
}

.accordion-button:not(.collapsed) {
	color: #ffffff;
	background-color: #808080;
}

.accordion-button:not(.collapsed)::after {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
	transform: rotate(-180deg);
}

.accordion-button:focus {
	border-color: #dcdcdc;
	box-shadow: 0 0 0 0.25rem rgb(80 80 80 / 25%);
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
	h2, .program-heading {
		font-size: 50px;
	}
}

@media (min-width: 62em) {
	.program-heading {
		margin-top: 7rem;
	}

	.programs .featurette:first-child p {
		margin-top: 10rem;
	}
}